<div id="<%= dom_id officework %>">
  <p>
    <strong>Name:</strong>
    <%= officework.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= officework.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= officework.gender %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= officework.designation %>
  </p>

</div>
